---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <div class="once-in"><About /></div>
    <div class="once-in"><Experience /></div>
    <div class="once-in"><Education /></div>
    <div class="once-in"><Skills /></div>
    <div class="once-in"><Projects /></div>
    <div class="once-in"><Contact /></div>
  </main>
  <Footer />
</BaseLayout>
